[package]
name = "bevy_editor_pls"
version = "0.1.0"
authors = ["Jakob Hellermann <jakob.hellermann@protonmail.com>"]
edition = "2018"
exclude = ["docs/*"]

[features]

[dependencies]
bevy = { git = "https://github.com/bevyengine/bevy", branch = "main", default-features = false, features = ["render"] }
bevy-inspector-egui = { git = "https://github.com/jakobhellermann/bevy-inspector-egui", branch = "bevy-main" }
bevy_mod_picking = { git = "https://github.com/aevyrie/bevy_mod_picking", branch = "master" }
bevy_fly_camera = { git = "https://github.com/jakobhellermann/bevy_fly_camera", branch = "bevy-main" }
bevy-orbit-controls = { git = "https://github.com/johanhelsing/bevy-orbit-controls", branch = "bevy-main" }
# bevy_input_actionmap = { git = "https://github.com/lightsoutgames/bevy_input_actionmap" }
bevy_transform_gizmo = { git = "https://github.com/ForesightMiningSoftwareCorporation/bevy_transform_gizmo/", branch = "bevy-main" }
bevy_pancam = { git = "https://github.com/johanhelsing/bevy_pancam", branch = "bevy-main" }
once_cell = "1.7"

[dev-dependencies]
bevy = { git = "https://github.com/bevyengine/bevy", branch = "main", default-features = false, features = ["bevy_wgpu", "x11", "dynamic"] }

# [patch."https://github.com/bevyengine/bevy/"]
# bevy = { path = "/home/jakob/dev/rust/contrib/bevy/bevy" }

[patch.crates-io]
bevy = { git = "https://github.com/bevyengine/bevy", branch = "main" }

# TODO: Remove these after getting the pr merged
[patch."https://github.com/aevyrie/bevy_mod_picking"]
bevy_mod_picking = { git = "https://github.com/johanhelsing/bevy_mod_picking", branch = "update-to-latest-bevy" }
[patch."https://github.com/JulianRuiseco/bevy_mod_picking"]
bevy_mod_picking = { git = "https://github.com/johanhelsing/bevy_mod_picking", branch = "update-to-latest-bevy" }
