[package]
name = "bevy_editor_pls"
version = "0.1.0"
authors = ["Jakob Hellermann <jakob.hellermann@protonmail.com>"]
edition = "2018"
exclude = ["docs/*"]

[features]

[dependencies]
bevy = { version = "0.5", default-features = false, features = ["render"] }
bevy-inspector-egui = "0.5"
bevy_mod_picking = { version = "0.4" }
bevy_fly_camera = { git = "https://github.com/jakobhellermann/bevy_fly_camera" }
bevy-orbit-controls = "2.0"
bevy_input_actionmap = { git = "https://github.com/lightsoutgames/bevy_input_actionmap", branch = "main"  }
once_cell = "1.7"

[dev-dependencies]
bevy = { version = "0.5", default-features = false, features = ["bevy_wgpu", "x11", "dynamic"] }

# [patch."https://github.com/bevyengine/bevy/"]
# bevy = { path = "/home/jakob/dev/rust/contrib/bevy/bevy" }
